@import "tailwindcss";
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
html {
  overflow-y: auto;
}

body {
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


